<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/notfound.css">
    <script src="./js/error404/scriptError.js" defer></script>
    
    <title>Página não encontrada</title>
</head>
<body>
    
    <header style="text-align:center; color:white; padding: 30px;">
        <h1 style="font-family: 'Concert One', cursive;"> PAGINA NÃO ENCONTRADA - ERROR 404</h1>
        <div class="divBtn">
            <img width="90px" id="gif" src="./img/pac.gif" alt="gif">
            <button id="btnErro" class="btnMain">HOME</button>
        </div>
    </header>

    <div style="width:100%; display:flex; align-items:center;">
    <!-- <embed src="./img/procurando.gif" type=""> -->
    <img class="imgnotfound" src="./img/404found.png" alt="imagem de ERRO404" title="ERRO AO ENCONTRAR A PÀGINA">
    <!-- <img style="position:relative;" width="90px" id="gif" src="./img/procurando.svg" alt="gif"> -->
    </div>
    
    
    <footer style="text-align:center; color:white; font-weight:0 ">
        <p>&copy; 2022 Copyright - Lucas dos Santos Marques </p>

    </footer>
    
    
    
 

</body>
</html>